<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmpt276.as2.assigment3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_plague_icon_launcher"
        android:label="BubonicPlague"
        android:roundIcon="@mipmap/ic_plague_icon_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/ToolBarStyle">
        <activity
            android:name=".TextUI.HelpScreen"
            android:configChanges="keyboard|orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TextUI.Options"
            android:configChanges="keyboard|orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Model.Game"
            android:configChanges="keyboard|orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Model.MainMenu"
            android:configChanges="keyboard|orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" />
        <activity android:name=".MainActivity"
            android:configChanges="keyboard|orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>